@media (max-width: 400px){
    /* .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    #projects #minor-projects{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    } */

    /* .sidebar{
        display: flex;
    } */

    main{
        overflow-x: hidden;
    }
    nav .right{
        display: none;
    }


}


@media (max-width: 700px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    #projects #minor-projects{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    #projects #major-projects{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }


    #education .right{
        gap:50px;
    }

    #education .right .collegedesc,.schooldesc{
        text-align: center;
        font-size: 16px;;
    }
    .content{
        grid-template-columns: repeat(1,1fr);
    }

    #skill_experience{
        min-height: 700px;
    }
    
    .trainee{
        text-align: center;
        font-size: 16px;
    }
    #education{
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }

    .me{
        display: none;
    }

    #home .techstack{
        top:500px;
        right:220px
    }

    .quote{
        text-align: center;
        font-size: 16px;
    }

    #work .heading{
        text-align: center;
        font-size: 16px;
    } 
    nav .right{
        display: none;
    }

    #home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:100px;
    }
    .hi,.profession,.techstack{
        position: inherit;
        top:-250px;
    }

    .hi{
        left: 0;
    }

    .profession{
        left: 0;
    }

    .techstack{
        right: 0;
        left: 100px;
    }
    #home{
        min-height: 900px;
    } 

    .mail_mobile{
        flex-flow:column wrap;
        width: 300px;
        /* margin-left:120px; */
        gap:20px;
    }

    .mail_mobile .email{
        /* flex-flow:column wrap; */
        width: 300px;
    }


    .mail_mobile .mobile{
        width: 300px;
        gap:30px
    }

    .mail_mobile .mobile img{
        width: 30px;
    }

    .form{
        width: 400px;
    }

    /* #contact .form input{
        width: 72%;
    }
      */

    #contact .form textarea{
       width: 340px;
        
    }
    #contact .form input{
        width: 55%;
    }
    
}




@media (min-width: 600px) and (max-width:700px){
    .techstack{
        right: 0;
        left: 200px;
    }

    .content{
        grid-template-columns: repeat(1,1fr);
    }

    #skill_experience{
        min-height: 700px;
    }
}

@media (min-width: 700px) and (max-width:1000px){
    .content{
        grid-template-columns: repeat(1,1fr);
    }

    #skill_experience{
        min-height: 700px;
    }
}

@media (min-width: 700px) and (max-width:1100px){
    #home .techstack{
        display: none;
    }
   
    #projects #minor-projects{
        /* display: flex; */
        flex-direction:row;
        justify-content:space-evenly;
        flex-wrap:wrap;
        gap:20px;
    }

   
    
    #projects #minor-projects .item{
        min-width: 300px;
    }


    .cards{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }

    #home{
        min-height: 900px;
    } 

    .hi,.profession,.techstack{
        position: inherit;
        top:-300px;
    }
   
    #home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
    }

    .me{
          position: relative;
          top:0;
    }
}



@media (max-width: 700px) {
    .hamburger{
        display: flex;
    }
}

